## Step 1.  Create an RDD using filtered_registered_business_sf.csv seperated by commas

In [7]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()

In [10]:
path = '../Data/SF_business/filtered_registered_business_sf.csv'
rdd = sc.textFile(path).map(lambda x: x.split(','))\
        .map(lambda x: [int(x[0]),str(x[1]),str(x[2]),str(x[3]),str(x[4])])
rdd.first()

[94123, 'Tournahu George L', '3301 Broderick St', 'San Francisco', 'CA']

## Step 2.  (option 1) Convert RDD to DataFrame using .toDF()

In [11]:
from pyspark.sql import SparkSession
ss = SparkSession.builder.getOrCreate()

In [15]:
business_df = rdd.toDF(['zip','name','street','city','state'])
business_df.show()

+-----+--------------------+--------------------+-------------+-----+
|  zip|             address|              street|         city|state|
+-----+--------------------+--------------------+-------------+-----+
|94123|   Tournahu George L|   3301 Broderick St|San Francisco|   CA|
|94124|Stephens Institut...|    2225 Jerrold Ave|San Francisco|   CA|
|94105|Stephens Institut...|180 New Montgomer...|San Francisco|   CA|
|94108|Stephens Institut...|       540 Powell St|San Francisco|   CA|
|94107|Stephens Institut...|     460 Townsend St|San Francisco|   CA|
|94109|Stephens Institut...|1835-49 Van Ness Ave|San Francisco|   CA|
|94102|Stephens Institut...|       620 Sutter St|San Francisco|   CA|
|94102|Stephens Institut...|       655 Sutter St|San Francisco|   CA|
|94109|Stephens Institut...|        1055 Pine St|San Francisco|   CA|
|94107|Stephens Institut...|    121 Wisconsin St|San Francisco|   CA|
|94102|Stephens Institut...|        150 Hayes St|San Francisco|   CA|
|94133|Stephens Institut...|    2300 Stockton St|San Francisco|   CA|
|94133|Stephens Institut...| 2801 Leavenworth St|San Francisco|   CA|
|94107|Stephens Institut...|     466 Townsend St|San Francisco|   CA|
|94102|Stephens Institut...|         491 Post St|San Francisco|   CA|
|94107|Stephens Institut...|      601 Brannan St|San Francisco|   CA|
|94102|Stephens Institut...|         625 Polk St|San Francisco|   CA|
|94105|Stephens Institut...|       631 Howard St|San Francisco|   CA|
|94102|Stephens Institut...|       688 Sutter St|San Francisco|   CA|
|94111|Stephens Institut...|   700 Montgomery St|San Francisco|   CA|
+-----+--------------------+--------------------+-------------+-----+
only showing top 20 rows

In [16]:
business_df.printSchema()

root
 |-- zip: long (nullable = true)
 |-- address: string (nullable = true)
 |-- street: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)

## Step 2.  (option 2)  Add column names using a list of strings when creating a dataframe

## Extra

In [22]:
rdd.map(lambda x: [x[1],x[0]]).toDF(['name','zip']).show()

+--------------------+-----+
|                name|  zip|
+--------------------+-----+
|   Tournahu George L|94123|
|Stephens Institut...|94124|
|Stephens Institut...|94105|
|Stephens Institut...|94108|
|Stephens Institut...|94107|
|Stephens Institut...|94109|
|Stephens Institut...|94102|
|Stephens Institut...|94102|
|Stephens Institut...|94109|
|Stephens Institut...|94107|
|Stephens Institut...|94102|
|Stephens Institut...|94133|
|Stephens Institut...|94133|
|Stephens Institut...|94107|
|Stephens Institut...|94102|
|Stephens Institut...|94107|
|Stephens Institut...|94102|
|Stephens Institut...|94105|
|Stephens Institut...|94102|
|Stephens Institut...|94111|
+--------------------+-----+
only showing top 20 rows

In [23]:
sc.stop()