In [1]:
import os
from pyspark import SparkConf,SparkContext
from pyspark.sql import HiveContext,Row 
from pyspark.sql import SparkSession
from pyspark.sql.types import *

In [2]:
sc = SparkContext.getOrCreate()
ss = SparkSession.builder.getOrCreate()

22/02/22 19:25:07 WARN Utils: Your hostname, Fans-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.167.87 instead (on interface en0)
22/02/22 19:25:07 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/02/22 19:25:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
d = sc.parallelize([("Alice",18),("Bob",20), ("Tom",40)])

In [4]:
d2 = sc.parallelize([("Bob",85), (None,80)])

In [5]:
schema1 = StructType([
  StructField("name", StringType(), True),
  StructField("age", IntegerType(), True)])

In [6]:
schema2 = StructType([
  StructField("name", StringType(), True),
  StructField("height", IntegerType(), True)])

In [7]:
df = ss.createDataFrame(d, schema1)
df2 = ss.createDataFrame(d2, schema2)

In [8]:
df.show()
df2.show()

+-----+---+
| name|age|
+-----+---+
|Alice| 18|
|  Bob| 20|
|  Tom| 40|
+-----+---+

+----+------+
|name|height|
+----+------+
| Bob|    85|
|null|    80|
+----+------+

## Inner Join

In [23]:
df.join(df2,df['name']==df2['name']).show()

+----+---+----+------+
|name|age|name|height|
+----+---+----+------+
| Bob| 20| Bob|    85|
+----+---+----+------+

In [11]:
df.join(df2,'name').show(5)

+----+---+------+
|name|age|height|
+----+---+------+
| Bob| 20|    85|
+----+---+------+

## Outer Join

In [15]:
df.join(df2,'name','outer').show()

+-----+----+------+
| name| age|height|
+-----+----+------+
| null|null|    80|
|Alice|  18|  null|
|  Bob|  20|    85|
|  Tom|  40|  null|
+-----+----+------+

## Left Outer Join

In [16]:
df.join(df2,'name','left_outer').show()

+-----+---+------+
| name|age|height|
+-----+---+------+
|Alice| 18|  null|
|  Bob| 20|    85|
|  Tom| 40|  null|
+-----+---+------+

## Right Outer Join

In [17]:
df.join(df2,'name','right_outer').show()

+----+----+------+
|name| age|height|
+----+----+------+
|null|null|    80|
| Bob|  20|    85|
+----+----+------+

## Left-semi Join

In [22]:
df.join(df2,'name','leftsemi').show()

+----+---+
|name|age|
+----+---+
| Bob| 20|
+----+---+

In [24]:
sc.stop()